<div class="container">
  <div class="navbar">
    <a class="brand" href="/">Whatsupwall</a>
      <ul class="nav pull-right">
        <% if user_signed_in? %>
          <li>
            <%= link_to current_user.name, walls_path %>
          </li>
          <li>
            <%= link_to 'Account', edit_user_registration_path %>
          </li>
          <li>
            <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Sign in', new_user_session_path %>
          </li>
          <li>
            <%= link_to 'Sign up', new_user_registration_path %>
          </li>
        <% end %>
      </ul>
  </div>
</div>
